.librarything .signature {
	font-style: italic;
	font-size: smaller;
	text-align: right;
}

.librarything .book-single {
	margin: 0;
	padding: 0;
	border: 0;
}

.librarything .book-single .sidecol {
	width: 240px;
	padding: 0 20px 0 0;
	margin: 0;
	border: 0;
	vertical-align: top;
}

.librarything .book-single .maincol {
	padding: 0;
	margin: 0;
	border: 0;
	vertical-align: top;
}

.librarything .book-single .title {
	color: #3B5998;
	margin: 0;
}

.librarything .book-single .cover img {
	width: 100%;
	background-color: #EDEFF4;
}

.librarything .book-single .links {
	font-size: smaller;
	list-style: none;
	margin: 0 0 0 20px;
	padding: 0;
}

.librarything .book-single .links li {
	margin: 0;
}

.librarything .book-single .links a:before {
	width: 16px;
	height: 16px;
	vertical-align: middle;
    margin-right: 4px;
}

.librarything .book-single .link-librarything a:before {
	content: url('images/icons/librarything.png');
}

.librarything .book-single .link-amazon a:before {
	content: url('images/icons/amazon.png');
}

.librarything .book-single .link-google a:before {
	content: url('images/icons/google.png');
}

.librarything .book-single .link-add a:before {
	content: url('images/icons/book_add.png');
}

.librarything .book-single h3 {
	padding-bottom: 2px;
	margin-bottom: 4px;
	border-bottom: 1px solid #cccccc;
}

.librarything .book-single .authors {
	font-style: italic;
}

.librarything .book-single .section {
	margin-bottom: 20px;
}

.librarything .book-single .similar ul {
	margin: 0;
	padding: 0;
}

.librarything .book-single .similar li {
	list-style: none;
	display: inline-block;
	margin: 0 5px 5px 0;
}

.librarything .books-cover {
	text-align: center;
}

.librarything .books-cover .book {
	display: inline-block;
	width: 100px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
}

.librarything .books-cover .book .inner-book {
	margin: 0 5px 10px 0;
}

.librarything .books-cover .book .inner-book img {
	width: 90px;
	max-height: 130px;
}

.librarything .books-list .book {
	display: inline-block;
	clear: both;
	margin-bottom: 20px;
	width: 100%;
}

.librarything .books-list .title {
	padding-bottom: 2px;
	border-bottom: 1px solid #cccccc
}

.librarything .books-list .authors {
	font-style: italic;
	font-size: smaller;
}

.librarything .books-list .book .cover {
	float: left;
	width: 180px;
}

.librarything .books-list .book .cover img {
	max-width: 180px;
}

.librarything .books-list .book .book-inner {
	margin-left: 190px;
	padding-right: 10px;
}

.librarything .books-list .book .rating {
	margin-top: 8px;
}

.librarything .books-list .book .review {
	margin-top: 6px;
	padding-left: 20px;
	background: url('images/quotes.png') no-repeat top left;
}

.librarything .books-list .book .tags {
	margin-top: 6px;
	color: #888888;
	font-style: italic;
	font-size: smaller;
}

.librarything .starrating {
	background: url('images/stars.png') no-repeat;
	display: inline-block;
	height: 12px;
	width: 12px;
	margin: 0;
}

.librarything .star_on {
	background-position: -13px 0;
}

.librarything .star_half {
	background-position: 0 0;
}

.librarything .star_off {
	background-position: -26px 0;
}

.librarything .review .text_exposed {
	display: none;
}

.librarything .review .hide_link {
	display: none;
	font-style: italic;
}

.librarything .review .text_hidden {
	display: inline
}

.librarything .review .expose_link {
	display: block;
	font-style: italic;
}

.librarything .exposed .text_hidden {
	display: none;
}

.librarything .exposed .expose_link {
	display: none;
}

.librarything .exposed .text_exposed {
	display: inline;
}

.librarything .exposed .hide_link {
	display: block;
}

.librarything .buy-now-button {
	width: 78px;
	height: 22px;
	background: url('images/buy-now-button.gif') no-repeat;
	cursor: pointer;
	overflow: hidden;
	margin-bottom: 20px;
}

.librarything .buy-now-button a {
	color: transparent;
}